<div id="blog">
  <div class="container fake-nav">
    <div class="pure-menu pure-menu-horizontal">
      <nav><div class="hit-the-floor">
        <div class="pure-g">
          <div class="pure-u-1-5"><p><a href="/resume" class="pure-menu-heading pure-menu-link">Resume</a></p></div>
          <div class="pure-u-1-5"><p><a href="/projects" class="pure-menu-heading pure-menu-link">Projects</a></p></div>
          <div class="pure-u-1-5"><p><a href="/" class="pure-menu-heading pure-menu-link">Home</a></p></div>
          <div class="pure-u-1-5"><p><a href="/hurdreads" class="pure-menu-heading pure-menu-link">HurdReads</a></p></div>
          <div class="pure-u-1-5"><p><a href="/contact" class="pure-menu-heading pure-menu-link">Contact</a></p></div>
        </div>
      </div></nav>
    </div>
  </div>



    <div id="blogBody" class="pure-g">



      <div class="pure-u-1-4">
        <div class="datePost">
          <h4>{{$ctrl.blog.abbrev_date}}</h4>
          <p>Posted by <a href="#">{{$ctrl.blog.author_name}}</a> @ {{$ctrl.blog.clean_date}}.</p>
          <a href="/blog"><button class="commentButton">back to blogs</button></a>

        </div>



      </div>
      <div class="pure-u-3-4">
        <div class="blogPost">
          <h1 class="blogTitle"><a href="#">{{$ctrl.blog.title}}</a></h1>
          <p ng-bind-html="$ctrl.blog.bodyClean"></p>

        </div>
        <div class="blogTags">
          <h6>Tags:</h6>
          <p ng-bind-html="$ctrl.blog.htmlTags"></p>

        </div>

        <div class="blogComments">
          <h4> Comments: {{$ctrl.numberOfComments.total}} </h4>
          <button class="commentButton" id="postACommentButton" ng-click="$ctrl.postAComment()">post a comment</button>

          <div id="commentForm">
            <form class="pure-form pure-form-stacked" name="commentForm">
              <fieldset>
                <p id="allCommentsDisclaimer">All comments subject to approval. Spammers, trolls and commercial postings will not appear in this space.</p>
                <p><label for="firstName" id="authorFirstName"><textarea class="reviewTitle" type="text" name="firstName" placeholder="First Name" id="authorFirstNameValue" ></textarea></label></p>
                <p><label for="lastName" id="authorLastName"><textarea class="reviewTitle" type="text" name="lastName" placeholder="Last Name" id="authorLastNameValue" ></textarea></label></p>
                <p><label for="email" id="authorEmail"><textarea class="reviewTitle" type="text" name="email" placeholder="email" id="authorEmailValue" ></textarea></label></p>
                <p><label for="commentTitle" id="commentTitle"><textarea class="reviewTitle" type="text" name="commentTitle" placeholder="Comment Title" id="commentTitleValue" ></textarea></label></p>
                <p><label for="commentBody" id="commentBody"><textarea class="reviewTitle" type="text" name="commentBody" placeholder="Comment" id="commentBodyValue" ></textarea></label></p>

                <button class="commentButton" id="commentSubmit">SUBMIT</button>
                <button class="commentButton" id="commentCancel">CANCEL</button>
              </fieldset>
            </form>
          </div>

          <main id="singleBlogComments" ng-repeat="blogComments in $ctrl.postComments">
            <p>posted by: <a href="#">{{blogComments.author_first_name}} {{blogComments.author_last_name}}</a> at <strong>{{blogComments.clean_date}}</strong></p>
            <h2><strong>{{blogComments.comment_title}}</strong></h2>
            <p ng-bind-html="blogComments.bodyClean"></p>
          </main>

        </div>




      </div>

    </div>

  <div class="wrapper">
     <h1>hurdaudio</h1>
     <h2>hurdaudio</h2>
     <h3>hurdaudio</h3>
   </div>




</div>
