<div>

  <div class="pure-g">
    <div class="pure-u-1-3">
      <div id="toggleCommunications">
        <h4><button class="adminiButton" id="communicationButton">COMMUNICATIONS CENTER</button></h4>
      </div>
    </div>
    <div class="pure-u-1-3">
      <div id="toggleBlogCRUD">
        <h4><button class="adminiButton" id="BlogCrudButton">HURDAUDIO BLOG</button></h4>
      </div>
    </div>
    <div class="pure-u-1-3">
      <div id="toggleReadingList">
        <h4><button class="adminiButton" id="readingListButton">READING LIST</button></h4>
      </div>
    </div>

  </div>

  <div id="communicationsCenter">
    <button id="toggleComm" class="miniButtons">TOGGLE OUT</button>
    <container id="displayVisitorFeedbacksGetRequest">
      <div class="pure-g">
        <main id="visitorFeedbacksContainer" ng-repeat="posts in $ctrl.visitorFeedbacks | orderBy : $ctrl.sortBy">

          <div id="communicationsAdmin" class="pure-u-1-2">
            <button class="miniButtons" type="button" name="button" ng-click="$ctrl.respondFeedback(posts.id)">RESPOND</button>
            <button class="miniButtons" type="button" name="button" ng-click="$ctrl.deleteFeedback(posts.id)">DELETE</button>

          </div>
          <div id="feedbacksText" class="pure-u-1-2">
            <p>DATE</p>
            <p>{{posts.clean_date}}</p><br>
            <p>NAME</p>
            <p>{{posts.visitor_name}}</p><br>
            <p>EMAIL</p>
            <p><a href="mailto:{{posts.visitor_email}}">{{posts.visitor_email}}</a></p><br>
            <p>MESSAGE</p>
            <p>{{posts.visitor_message}}</p><br>
            <p>RESPONDED</p>
            <p>{{posts.response_status}}</p><br>

          </div>

        </main>
      </div>
    </container>
  </div>

  <div id="bloggingHQ">
    <div class="pure-g">
      <div class="pure-u-1-4">
        <button id="toggleBlogHQ" class="miniButtons">TOGGLE OUT</button>
        <button id="blogCreate" class="miniButtons">NEW POST</button>
        <button id="blogRead" class="miniButtons">POSTS</button>
        <button id="blogUpdate" class="miniButtons">EDIT POST</button>
        <button id="blogDelete" class="miniButtons">DELETE POST</button>
      </div>
      <div id="newBlogPostEntry" class="pure-u-3-4">
        <form class="pure-form pure-form-stacked" name="blogPost">

          <fieldset>
            <h4>Title:</h4>
            <p><label for="blogTitle" id="newPostTitle"><textarea class="blogPost" type="text" name="blogTitle" id="newPostTitleField" ></textarea></label></p>
            <h4>Content:</h4>
            <p><label for="blogBody" id="newPostBody"><textarea class="blogPost" type="text" name="blogBody" id="newPostBodyField" ></textarea></label></p>
            <h4>Tags:</h4>
            <p><label for="blogTags" id="newPostTags"><textarea class="blogPost" type="text" name="blogTags" id="newPostTagsField" ></textarea></label></p>
            <button id="saveNewPost" class="miniButtons">SAVE</button>
            <button id="publishNewPost" class="miniButtons">PUBLISH</button>

          </fieldset>

        </form>
        <img src="./img/typewriter-312748.svg" height="50%">
      </div>

      <div id="readPosts">
        <div>
          <button id="exitRead" class="miniButtons" type="button" name="button" >EXIT</button>
          <!-- <button class="miniButtons" type="button" name="button" ng-click="$ctrl.deleteFeedback(posts.id)">DELETE</button> -->

        </div>
        <div class="pure-u-3-4">
          <main class="blogPost" id="readFunctionality" ng-repeat="entries in $ctrl.blogPosts | orderBy : $ctrl.blogSortBy">


            <div id="blogPostingsList">
              <a href="#" ng-click="$ctrl.editPosting(entries.id)"><p>{{entries.clean_date}}</p>
              <p >{{entries.id}} : {{entries.title}}</p></a>


            </div>

          </main>
        </div>


      </div>
      <div id="readSinglePost" class="pure-u-3-4">
        <div>
          <button id="exitSingleRead" class="miniButtons" type="button" name="button" >EXIT</button>
        </div>
        <div class="blogPost">
          <h1 class="blogTitle">{{$ctrl.singlePost.title}}</h1>
          <br><p ng-bind-html="$ctrl.singlePost.bodyClean"></p>
        </div>
        <div class="blogTags">
          <br><p>TAGS: <em>{{$ctrl.singlePost.tagString}}</em></p>
        </div>
      </div>
    </div>

  </div>

  <div id="readingListHQ">
    <div class="pure-g">
      <div class="pure-u-1-4">
        <button id="toggleReadingListHQ" class="miniButtons">TOGGLE OUT</button>
        <button id="currentReadButton" class="miniButtons">CURRENTLY READING</button>
        <button id="viewReadingListButton" class="miniButtons">VIEW LIST</button>
        <button id="addBookList" class="miniButtons">ADD BOOK</button>
      </div>
      <div id="currentlyReadingBook" class="pure-u-1-4">
        <h4>Currently Reading:</h4>
        <img src="{{$ctrl.currentSelection.cover_url}}">
        <p><em>{{$ctrl.currentSelection.title}}</em> by {{$ctrl.currentSelection.author}}</p>
        <button id="iAmDone" class="miniButtons">I'M DONE</button>
        <button id="stillReadingIt" class="miniButtons">STILL READING IT</button>
      </div>
      <div id="interruptSelectionBook" class="pure-u-1-4">
        <h4>Interrupt: </h4>
        <img src="{{$ctrl.interruptSelection.cover_url}}">
        <p><em>{{$ctrl.interruptSelection.title}}</em> by {{$ctrl.interruptSelection.author}}</p>
        <button id="interruptDone" class="miniButtons">I'M DONE</button>
        <button id="interruptStillReading" class="miniButtons">STILL READING IT</button>
      </div>
      <div id="reviewNewlyCompletedBook" class="pure-u-3-4">
        <form class="pure-form pure-form-stacked" name="reviewRead">
          <fieldset>
            <h4>Rating</h4>
            <input id="scoreLever" type="range" min="0" max="100" value="0" stepvalue="1" oninput="this.form.amountInput.value=this.value" />
            <input id="reviewScore" class="volumeRead" type="number" name="amountInput" min="0" max="100" value="0" oninput="this.form.amountRange.value=this.value" />

            <p><label for="reviewTitle" id="newReviewTitle"><textarea class="reviewTitle" type="text" name="reviewTitle" placeholder="Review Title" id="reviewTitle" ></textarea></label></p>

            <p><label for="reviewBody" id="newReviewBody"><textarea class="reviewBody" placeholder="Review" type="text" name="reviewBody" id="reviewBody"></textarea></label></p>
            <button id="saveReview" class="miniButtons">SAVE</button>
            <button id="completeReview" class="miniButtons">PUBLISH</button>
          </fieldset>
        </form>
        <img src="./img/typewriter-312748.svg" height="50%">
      </div>
      <div id="viewReadingList" class="pure-u-3-4">
        <div id="completionPile">
          <h3>Completed Readings:</h3>
          <main id="completionStream" ng-repeat="completedReadings in $ctrl.completes">
            <div class="bookCoverImg">
              <img src="{{completedReadings.cover_url}}">
            </div>
            <div class="bookInfoLine">
              <button class="miniButtons" ng-click="$ctrl.editReview(completedReadings.reviewId)">EDIT REVIEW</button>
              <p><em>{{completedReadings.title}}</em> by {{completedReadings.author}}</p><br>
              <p>{{completedReadings.number_of_pages}} pages - {{completedReadings.edition}}</p>

            </div>
          </main>
        </div>
        <div id="currentAndInterruptPile">
          <h3>Current Position and/or Interrupt</h3>
          <div class="bookCoverImg">
            <img src="{{$ctrl.currentReadingSelection.cover_url}}">
          </div>
          <div class="bookInfoLine">
            <p>{{$ctrl.currentReadingSelection.position_string}}</p>
            <p><em>{{$ctrl.currentReadingSelection.title}}</em> by {{$ctrl.currentReadingSelection.author}}</p>
            <p>{{$ctrl.currentReadingSelection.number_of_pages}} pages - {{$ctrl.currentReadingSelection.edition}}</p>

          </div>
          <div class="bookCoverImg">
            <img src="{{$ctrl.interruptReadingSelection.cover_url}}">
          </div>
          <div class="bookInfoLine">
            <p>Interrupt</p>
            <p><em>{{$ctrl.interruptReadingSelection.title}}</em> by {{$ctrl.interruptReadingSelection.author}}</p>
            <p>{{$ctrl.interruptReadingSelection.number_of_pages}} pages - {{$ctrl.interruptReadingSelection.edition}}</p>
            <p>{{$ctrl.interruptReadingSelection.position_string}}</p>
          </div>
        </div>
        <div id="futureReadingPile">
          <h3>Reading List:</h3>
          <main id="futureReadingStream" ng-repeat="futureReadings in $ctrl.futures">
            <div class="bookCoverImg">
              <img src="{{futureReadings.cover_url}}">
            </div>
            <div class="bookInfoLine">
              <p><em>{{futureReadings.title}}</em> by {{futureReadings.author}}</p><br>
              <p>{{futureReadings.number_of_pages}} pages - {{futureReadings.edition}}</p>
              <p>{{futureReadings.position_string}}</p>
            </div>
          </main>
        </div>
      </div>
      <div id="editExistingReview" class="pure-u-3-4">
        <h3>Edit Review:</h3>
        <div class="bookCoverImg">
          <img src="{{$ctrl.editBook.cover_url}}">
        </div>
        <div class="bookInfoLine">
          <p><em>{{$ctrl.editBook.title}}</em> by {{$ctrl.editBook.author}}</p>
        </div>
        <form class="pure-form pure-form-stacked" name="reviewRead">
          <fieldset>
            <h4>Rating</h4>
            <input id="editorScoreLever" type="range" min="0" max="100" value="{{$ctrl.editBook.score}}" stepvalue="1" oninput="this.form.amountInput.value=this.value" />
            <input id="editorReviewScore" class="volumeRead" type="number" name="amountInput" min="0" max="100" value="{{$ctrl.editBook.score}}" oninput="this.form.amountRange.value=this.value" />

            <p><label for="reviewTitle" id="editorReviewTitle"><textarea class="reviewTitle" type="text" name="reviewTitle" placeholder="{{$ctrl.editBook.reviewTitle}}" id="editorForreviewTitle" ></textarea></label></p>

            <p><label for="reviewBody" id="editorReviewBody"><textarea class="reviewBody" placeholder="{{$ctrl.editBook.reviewBody}}" type="text" name="reviewBody" id="editorForReviewBody"></textarea></label></p>
            <button id="editorSaveReview" class="miniButtons">SAVE</button>
            <button id="editorCompleteReview" class="miniButtons">PUBLISH</button>
          </fieldset>
        </form>
        <img src="./img/typewriter-312748.svg" height="50%">
      </div>
    </div>
  </div>









</div>
