<div>

  <div id="toggleCommunications">
    <h4><button class="adminiButton" id="communicationButton">COMMUNICATIONS CENTER</button></h4>
  </div>
  <div id="toggleBlogCRUD">
    <h4><button class="adminiButton" id="BlogCrudButton">HURDAUDIO BLOG</button></h4>
  </div>

  <div id="communicationsCenter">
    <button id="toggleComm" class="miniButtons">TOGGLE OUT</button>
    <container id="displayVisitorFeedbacksGetRequest">
      <div class="pure-g">
        <main id="visitorFeedbacksContainer" ng-repeat="posts in $ctrl.visitorFeedbacks | orderBy : $ctrl.sortBy">

          <div id="communicationsAdmin" class="pure-u-1-2">
            <button class="miniButtons" type="button" name="button" ng-click="$ctrl.respondFeedback(posts.id)">RESPOND</button>
            <button class="miniButtons" type="button" name="button" ng-click="$ctrl.deleteFeedback(posts.id)">DELETE</button>

          </div>
          <div id="feedbacksText" class="pure-u-1-2">
            <p>DATE</p>
            <p>{{posts.clean_date}}</p><br>
            <p>NAME</p>
            <p>{{posts.visitor_name}}</p><br>
            <p>EMAIL</p>
            <p><a href="mailto:{{posts.visitor_email}}">{{posts.visitor_email}}</a></p><br>
            <p>MESSAGE</p>
            <p>{{posts.visitor_message}}</p><br>
            <p>RESPONDED</p>
            <p>{{posts.response_status}}</p><br>

          </div>

        </main>
      </div>
    </container>
  </div>

  <div id="bloggingHQ">
    <div class="pure-g">
      <div class="pure-u-1-4">
        <button id="toggleBlogHQ" class="miniButtons">TOGGLE OUT</button>
        <button id="blogCreate" class="miniButtons">NEW POST</button>
        <button id="blogRead" class="miniButtons">POSTS</button>
        <button id="blogUpdate" class="miniButtons">EDIT POST</button>
        <button id="blogDelete" class="miniButtons">DELETE POST</button>
      </div>
      <div id="newBlogPostEntry" class="pure-u-3-4">
        <form class="pure-form pure-form-stacked" name="blogPost">

          <fieldset>
            <h4>Title:</h4>
            <p><label for="blogTitle" id="newPostTitle"><textarea class="blogPost" type="text" name="blogTitle" id="newPostTitleField" ></textarea></label></p>
            <h4>Content:</h4>
            <p><label for="blogBody" id="newPostBody"><textarea class="blogPost" type="text" name="blogBody" id="newPostBodyField" ></textarea></label></p>
            <h4>Tags:</h4>
            <p><label for="blogTags" id="newPostTags"><textarea class="blogPost" type="text" name="blogTags" id="newPostTagsField" ></textarea></label></p>
            <button id="saveNewPost" class="miniButtons">SAVE</button>
            <button id="publishNewPost" class="miniButtons">PUBLISH</button>

          </fieldset>

        </form>
        <img src="./img/typewriter-312748.svg" height="50%">
      </div>
    </div>

  </div>








</div>
