.adminiButton {
  border-radius: 1%;
  margin: 2em;
  padding: 2em;
  opacity: 0.7;
  float:left;
  font-family: 'Michroma', sans-serif;
  font-size: 24px;
  color: #e80606;
  text-align: center;
  align-content: center;
  width: 90%;
  height: 7.4em;
}

.adminiButton:hover {
  opacity: 1.0;
  color: #17F9F9;
}

#communicationButton {
  background-image: url(../img/metal-2093228_640.jpg);
}

#BlogCrudButton {
  background-image: url(../img/banner-2143662_640.jpg);
}

#readingListButton {
  background-image: url(../img/paper-1468882_640.jpg);
}



#communicationsAdmin {
  float: left;
  padding-top: 4em;
}

.miniButtons {
  padding: 0.5em;
  margin-left: 3em;
  margin-right: 5em;
  margin-top: 6em;
  height: auto;
  font-family: 'Michroma', sans-serif;
  font-size: 18px;
  width: 11em;
}

#toggleComm {
  float: right;
}

#feedbacksText {
  font-family: 'Michroma', sans-serif;
  font-size: 18px;
}

#newBlogPostEntry {
  font-family: 'Michroma', sans-serif;
  font-size: 24px;
  color: #000000;
  width: auto;
}

#newBlogPostEntry p {
  font-family: 'Michroma', sans-serif;
  font-size: 18px;
}

#newPostTitleField {
  width: 45em;
  height: 2.4em;
}

#newPostBodyField {
  width: 45em;
  height: 18em;
}

#newPostTagsField {
  width: 45em;
  height: 2.4em;
}
