#contactMe {
  background: url(../img/brand-1851576.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#contact-form_header {
	font-family: 'Michroma', sans-serif;
	height: 50px;
	color: #FFF;
	height: 50px;
}

#contact-form_header h1 {
	font-size: 40px;
	padding-bottom: 15px;
	margin: 0px;
	text-align: center;
	height: 45px;
	margin: 0px;
	padding:0;
  color:#000;
}

#contact-form_completed-header h1 {
	font-size: 46px;
	padding-bottom: 15px;
	margin: 0px;
	text-align: center;
	height: 45px;
	margin: 0px;
	padding:0;
  color:#000;
}

#feedbackDate p {
  font-family: 'Michroma', sans-serif;
	font-size: 24px;
	color: #000000;
}

#feedbackName {
  font-family: 'Michroma', sans-serif;
	font-size: 24px;
	color: #000000;
}

#feedbackEmail {
  font-family: 'Michroma', sans-serif;
	font-size: 24px;
	color: #000000;
}

#feedbackContent {
  font-family: 'Michroma', sans-serif;
	font-size: 24px;
	color: #000000;
}

#contact-form_cont {
	margin: 20% 15%;
	padding:0 20px;
	border: 2px solid #000;
	border-radius: 3px;
	background: transparent;
}

#contact-form_completed {
	margin: 20% 15%;
	padding:0 20px;
	border: 2px solid #000;
	border-radius: 3px;
	background: #ffffff;
  opacity: 0.4;
}


}
#contact-form_cont form {
}

/*input,textarea {
	font-family: 'Michroma', sans-serif;
	font-size: 17px;
	border: 1px solid #000;
	border-radius: 3px;
	padding-left: 3px;
	width: 100%;
	border: 1px solid #000;
	margin: auto 1px;
}

input[type=text] {
	height: 34px;
}

input[type=email] {
	height: 34px;
}

input[type=submit] {
	border: 2px solid #000;
	background: #FFF;
	color: #222;
	height: 32px;
	width: 100%;
}

input[type=submit]:hover {
	border: 2px solid #000;
	background: #222;
	color: #FFF;
	height: 32px;
}

textarea {
	height: 124px;
	text-align: justify;
  opacity:0.7;
}

input[type=submit] {
	width: 20%;
}*/

#contactButton {
  font-family: 'Michroma', sans-serif;
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
  height: 2em;
  width: 100%;
  opacity: 0.5;
  font-size: 48px;
  border: solid 1px #000;
}

#adminButton {
  font-family: 'VT323', sans-serif;
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
  margin-left: 0.2em;
  color: #e80606;
  height: 2em;
  width: 100%;
  opacity: 0.5;
  font-size: 48px;
  border: solid 1px #fff;
}

#contactButton:hover {
  width: 100%;
  opacity: 1.0;
}

#adminButton:hover {
  opacity: 1.0;
}

#doneButton {
  font-family: 'Michroma', sans-serif;
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
  height: 2em;
  width: 100%;
  opacity: 0.5;
  font-size: 48px;
  border: solid 1px #000;
  margin-bottom: 12px;
}

#doneButton:hover {
  width: 100%;
  opacity: 1.0;
}

#contactName {
  height: 2.4em;
  opacity: 0.75;
  width: 91.5%;
}

#adminFirstName {
  background-image: url(../img/board-564810_640.jpg);
  font-family: 'VT323', sans-serif;
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
  height: 8.4em;
  opacity: 0.9;
  width: 91.5%;
}

#adminLastName {
  background-image: url(../img/board-730797_640.jpg);
  font-family: 'VT323', sans-serif;
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
  height: 8.4em;
  opacity: 0.9;
  width: 91.5%;
}

#adminCompanyName {
  background-image: url(../img/board-75660_640.jpg);
  font-family: 'VT323', sans-serif;
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
  height: 8.4em;
  opacity: 0.9;
  width: 91.5%;
}

#adminPassword {
  background-image: url(../img/neo-urban-1734495_640.jpg);
  font-family: 'VT323', sans-serif;
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
  height: 8.4em;
  opacity: 0.9;
  width: 91.5%;
}

#visitorName {
  width: 100%;
  height: 2.6em;
}

#admin_FirstName {
  font-family: 'VT323', sans-serif;
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
  font-size: 48px;
  color: #e80606;
  width: 100%;
  height: 2.6em;
}

#admin_LastName {
  font-family: 'VT323', sans-serif;
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
  font-size: 48px;
  color: #e80606;
  width: 100%;
  height: 2.6em;
}

#admin_CompanyName {
  font-family: 'VT323', sans-serif;
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
  font-size: 48px;
  color: #e80606;
  width: 100%;
  height: 2.6em;
}

#admin_password {
  font-family: 'Siemreap', 'Suwannaphum', 'VT323', sans-serif;;
  text-align: left;
  align-content: left;
  align-self: left;
  align-items: left;
  font-size: 24px;
  color: transparent;
  width: 100%;
  height: 2.6em;
}

#visitorName {
  width: 100%;
  height: 2.6em;
}

#contactEmail {
  height: 2.4em;
  opacity: 0.75;
  width: 91.5%;
}

#admin_Email {
  background-image: url(../img/computer-1520448_640.jpg);
  font-family: 'VT323', sans-serif;
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
  height: 8.4em;
  opacity: 0.9;
  width: 91.5%;
}

#adminEmail {
  font-family: 'VT323', sans-serif;
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
  font-size: 36px;
  color: #e80606;
  width: 100%;
  height: 2.6em;
}

#visitorEmail {
  width: 100%;
  height: 2.6em;
}

#contactMessage {
  width: 91.5%;
  opacity: 0.75;
}

@media only screen and (max-device-width: 480px) {
  #contactButton {
    font-family: 'Michroma', sans-serif;
    text-align: center;
    align-content: center;
    align-self: center;
    align-items: center;
    height: 2em;
    width: 80%;
    opacity: 0.5;
    font-size: 48px;
    border: solid 1px #000;
  }

  #contactButton:hover {
    width: 80%;
    opacity: 1.0;
  }

  #doneButton {
    font-family: 'Michroma', sans-serif;
    text-align: center;
    align-content: center;
    align-self: center;
    align-items: center;
    height: 2em;
    width: 80%;
    opacity: 0.5;
    font-size: 48px;
    border: solid 1px #000;
    margin-bottom: 12px;
  }

  #doneButton:hover {
    width: 80%;
    opacity: 1.0;
  }

  #contactName {
    height: 2.4em;
    opacity: 0.75;
    width: 78.5%;
  }

  #visitorName {
    width: 100%;
    height: 2.6em;
  }


  #contactEmail {
    height: 2.4em;
    opacity: 0.75;
    width: 78.5%;
  }

  #visitorEmail {
    width: 100%;
    height: 2.6em;
  }

  #contactMessage {
    width: 78.5%;
    opacity: 0.75;
  }
}

.admin_footer_right {
  font-family: 'Tauri', sans-serif;
  float:right;
  font-size: 12px;
  margin-top: 3.8em;
  margin-left: 0.5em;
  background-color: #3A3A3A;
  opacity: 0.1;
}

#admin-form-div {
  padding-top: 0;
  padding-left: 9.3em;
  padding-right: 9.3em;
}
